<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layouts/layout}">
<head>
    <style>

        .btn-container{
            margin-left: 93%;
            margin-bottom: 20px;
        }

        .btn-container2{
            margin-left: 90%;
        }
        .btn {
            font-size: 10px;
        }

        .accordion-toggle{
            width:80%;

        }





    </style>
</head>
<div layout:fragment="content" class="main">

    <div class="main-inner">

        <div class="container">

            <div class="row">

                <div class="span12">

                    <div class="widget ">

                        <div class="widget-header">
                            <i class="icon-bullhorn"></i>
                            <h3>공지사항</h3>
                        </div> <!-- /widget-header -->

                        <div class="widget-content">
                            <div class="tab-content">
                                <div class="tab-pane" id="formcontrols">
                                    <form id="edit-profile" class="form-horizontal"></form>
                                </div>
                                <div class="tab-pane active" id="jscontrols">
                                    <!-- 관리자일 경우에 작성버튼 생김 -->
                                    <!--                                    <?php if($userid == "admin"){?>-->
                                    <!--                                    <div class="btn-container">-->
                                    <!--                                        <button class="btn btn-primary"-->
                                    <!--                                                onclick="location.href='notice_write.php?page=notice'">작성하기-->
                                    <!--                                        </button>-->
                                    <!--                                    </div>-->
                                    <!--                                    <?php }?>-->

                                    <!-- <form id="edit-profile2" class="form-vertical"> -->
<!--                                    <fieldset>-->
                                      <div class="control-group">
                                        <div class="controls">

                                          <div class="accordion" id="accordion2">
                                            <div class="accordion-group">
                                              <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                                                  Collapsible Group Item #1
                                                </a>
<!--                                                &lt;!&ndash;버튼&ndash;&gt;-->
<!--                                                <?php if($userid == "admin"){?>-->
<!--                                                <div class="btn-container2">-->
<!--                                                  <button class="btn btn-primary"-->
<!--                                                          onclick="location.href='notice_write.php?page=notice&&mode=update&&num=<?=$num?>'">수정</button>-->
<!--                                                  <button class="btn btn-primary"-->
<!--                                                          onclick="location.href='db/notice_insert.php?sql_mode=delete&&num=<?=$num?>'">삭제</button>-->
<!--                                                </div>-->
<!--                                                <?php }?>-->
                                              </div>
                                              <div id="collapseOne" class="accordion-body collapse in">
                                                <div class="accordion-inner">
                                                  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).


                                                </div>
                                              </div>
                                            </div>
                                            <div class="accordion-group">
                                              <div class="accordion-heading">
                                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                                                  Collapsible Group Item #2
                                                </a>
                                              </div>
                                              <div id="collapseTwo" class="accordion-body collapse">
                                                <div class="accordion-inner">
                                                  Anim pariatur cliche...
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div> <!-- /controls -->
                                      </div> <!-- /control-group -->
<!--                                    </fieldset>-->
                                    <!-- </form> -->
                                </div><!--/tab-pane active-->

                            </div><!--/tab-content-->

                        </div><!--/widget-content-->
                    </div><!--/widget-->

                </div><!--/span12-->
            </div> <!-- /row -->

        </div> <!-- /container -->

    </div> <!-- /main-inner -->

</div> <!-- /main -->
</html>